body,ul,li,img{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
#tabbar{
    width: 100%;
}
#tabbar .tab{
    width: 500px;
    height: 80px;
    margin: 0 auto;
    border-bottom: 1px solid lightgrey;
}
#tabbar .tab ul li{

    float: left;
    color: grey;
    margin: 12px 16px 0 42px;
    cursor: pointer;
}
#tabbar .tab ul li img{
    width: 30px;
    height: 30px;
    opacity: .5;
}
#tabbar .tab ul li .one{
    color: black;
}
#tabbar .tab ul li .pic1{
    opacity: 1;
}